@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat/static/Montserrat-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

html,
body {
    font-family: Montserrat, sans-serif;
}

body {
    background-image: url(../img/511-web-setup2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 40px;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-end;
    padding-top: 50px;
}

.btn-primar {
    background-color: #F04A23;
    font-weight: bold;
}

.btn .btn-primar:hover {
    background-color: #000;
    color: #fff;
}


/* first-page */
.first-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    padding-top: 50px;
}


.forwarding {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 350px;
    height: 370px;
    margin: 16px;
    padding: 8px;
    background-color: #fff;
    box-shadow: #edb076 4px 4px 3px;
    border-radius: 8px;
}

.forwarding:hover {
    box-shadow: #edb076 8px 8px 8px;
    transform: scale(1.2);
}

.forwarding>div>a {
    text-decoration: none;
    background-color: #fff;
}

.forwarding>div img {
    width: 300px;
}

/* navigatidevice-widthon */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-family: Montserrat, sans-serif;
    background-color: #5e5d5d;
    z-index: 2;
}

header>* {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;

}

header>div {
    padding-inline: 8px;
}

header>div button,
a {
    background-color: #5e5d5d;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 8px;
}

header>div a:hover {
    background-color: #7774747c;
    text-decoration: none;
    border: 1px solid #7774747c;
    border-radius: 8px;
}

header>div button:hover {
    background-color: #7774747c;
    text-decoration: none;
    border: solid #7774747c;
    border-radius: 8px;
}

.icon>a img {
    width: 100%;
    height: 26px;
    margin: 4px;
    position: relative;
    animation: icon 5s infinite alternate;
}

/* Card */
.card {
    background-color: #fff;
}

img {
    width: 300px;
    height: 300px;
}

@keyframes icon {
    from {
        left: 0;
    }

    to {
        left: 235px;
    }
}

/* footer */
footer {
    background-color: #5e5d5d73;
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_info {
    border-right: #F04A23 4px solid;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;

}

.footer_info>h2,
p {
    margin: 8px;

}


@media only screen and (max-width: 1200px) {
    .icon>a img {
        animation: none;
    }


    .footer-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

/* tablet */
@media only screen and (max-width: 850px) {

    body {
        background-image: none;
        background-color: #aca7a7;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    header {
        background-color: #E5E5E3;
    }

    header>div button,
    a {
        background-color: #E5E5E3;
        color: #000;
    }

    .icon>a img {
        animation: none;
    }

    /* Card */
    .heder-menu {
        display: none;
    }


    .forwarding {
        box-shadow: 0px 2px 8px #000;
    }

    .forwarding:hover {
        transform: none;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

}


/* mobile */
@media only screen and (max-width: 500px) {
    body {
        background-image: none;
        background-color: #aca7a7;
        display: flex;
        flex-direction: column;
    }

    header {
        background-color: #E5E5E3;
    }

    header>div button,
    a {
        background-color: #E5E5E3;
        color: #000;
    }

    .icon>a img {
        animation: none;
        width: 100%;
        margin: 4px;
    }

    /* Card */
    .heder-menu {
        display: none;
    }


    .forwarding {
        box-shadow: 0px 2px 8px #000;
    }

    .forwarding:hover {
        transform: none;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}